<div class="page-vote">
  <form name="languageVoteForm" class="col-lg-4" ng-submit="vm.submit(vm.language, vm.firstName, vm.lastName)">
    <div class="form-group">
      <label for="language">Language</label>
      <input type="text" ng-model="vm.language" class="form-control" id="language" placeholder="C, javascript, VB, Logo">
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" ng-model="vm.firstName" class="form-control" id="firstName" placeholder="Ada">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" ng-model="vm.lastName" class="form-control" id="lastName" placeholder="Lovelace">
    </div>

    <button type="submit" class="btn btn-default" ng-disabled="!languageVoteForm.$dirty">Submit</button>
    <div class="submission">{{vm.submission}}</div>
  </form>
</div>