@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import './components/label-count/label-count';
@import './pages/vote/vote';

.main-content {
  margin-top: 80px;
}

thead td {
  font-weight: bold;
}

.modal-header {
  font-size: 18px;
}